ion-header {
    div {
        width: 100vw;
        height: 5.4187192vh;
    }
    ion-toolbar {
        padding: 0 16px;
        ion-back-button {
            font-size: 18px;
        }
        p {
            font-size: 18px;
        }
        
    }
    
}

ion-content {
    --padding-top: 12px;
    ion-slide {   
        margin-bottom: 5vh; 
        .card {
            text-align: left;
            img {
                border-radius: 15px;
            }
            p {
                font-size: 14px;
                font-weight: bold;
                line-height: 21px;
            }
            h6 {
                margin: 0;
                font-size: 12px;
            }
        }
    }

    #recentNews {
        ion-row {
            padding: 16px 0;
            ion-col {
                padding: 0;

                img {
                    border-radius: 5px;
                }
                p {
                    margin: 0;
                    font-size: 12px;
                    font-weight: bold;
                }
                h6 {
                    margin-top: 10px;
                    font-size: 12px;
                }
            }
        }
        
    }
}