ion-content {
    --background: #eeeeee;
}
    #header {
        // background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
        background: #4d84e2;
        
        height: 20.689655vh;
        ion-item {
            --background: #4d84e2;
            padding-top: 5.4187192vh;
            ion-label {
                color:white;
            }
        }
    }

    ion-card {
        ion-icon {
            font-size: 1.55rem;
            color: #3171e0;
            margin-top: 0.8vh;
        }
    }


