ion-header {
    div {
        width: 100vw;
        height: 5.4187192vh;
    }
    ion-toolbar {
        padding: 0 16px;
        ion-back-button {
            font-size: 18px;
        }
        p {
            font-size: 18px;
        }
        
    }
    
}